
<style href="~/css/site.css"></style>
<h2>What does TDEE mean?</h2><br />

                             <div>
                                 <div class="column left">
                                     <h4>Let's start with calories</h4>
                                     <p>
                                         Simply put, calories measure the amount of energy needed to raise the temperature of 1 gram of water by 1 degree Celcius.
                                         A kilocalorie, sometimes seen as (big "C") <b>C</b>alorie, is 1000 (small "c") <b>c</b>alories. However, in the US especially,
                                         the calories you see on nutrition labels are actually kilocalories.
                                     </p>
                                     <br />
                                     <h4>So what is a TDEE?</h4>
                                     <p>
                                         TDEE stands for <b>T</b>otal <b>D</b>aily <b>E</b>nergy <b>E</b>xpenditure. This refers to the number of calories a person
                                         needs every day in order to maintain their current weight based on how active they are. This calculator is helpful because while it seems obvious that you would burn significantly
                                         calories than a person in a coma and likely burn fewer calories than Michael Phelps at the peak of his training, finding the exact number is a bit trickier. Being aware of your caloric needs is
                                         important whether you wish to lose, gain, or even simply stay at the same weight.
                                     </p><br />
                                     <p>
                                         This calculator is only an estimate however and simply serves as a starting point. Check out the links to the right of this article for more information! This calculator is only for adults. The
                                         calculations for children are very different due to the body's needs while growing.
                                     </p><br />
                                     <h4>A little bit about BMI</h4>
                                     <p>
                                         BMI stands for Body Mass Index. It represents a ratio of a person's height and weight. The equation was originally written
                                         by <a href="https://en.wikipedia.org/wiki/Body_mass_index#History">Adolphe Quetelet</a> and was originally for assessing the risk for disease in populations.
                                         While BMI does have its limitations, in general, it's a very quick and easy way to evaluate your risk for certain diseases based on your weight. It's not perfect, but for the
                                         average person, it's just fine. The ranges for adults are as follows
                                         <ul>
                                             <li><b>Underweight:</b> BMI < 18.5 </li>
                                             <li>
                                                 <b>Healthy Weight:</b> BMI 18.5 - 24.9
                                                 <br />
                                                 <i>note: for some ethnicities, a BMI of 23 or higher may be considered overweight.</i>
                                             </li>
                                             <li><b>Overweight:</b> BMI 25 - 29.9</li>
                                             <li><b>Obese: </b> BMI > 30</li>
                                         </ul>
                                     </p>
                                 </div>
                             </div>
                             <div class="column right">
                                 <h6>More Resources</h6>
                                 <br />
                                 <ul>
                                     <li>
                                         Calorie Trackers <ul>
                                             <li><a href="https://www.myfitnesspal.com/">MyFitnessPal</a></li>
                                             <li><a href="https://www.loseit.com/">Lose It!</a></li>
                                             <li><a href="https://cronometer.com/">Cronometer</a></li>
                                         </ul>
                                     </li>
                                     <li>
                                         Weight Loss <ul>
                                             <li><a href="https://www.reddit.com/r/loseit/">r/loseit</a></li>
                                             <li><a href="https://www.reddit.com/r/keto/">r/keto</a></li>
                                             <li><a href="https://www.reddit.com/r/Paleo/">r/Paleo</a></li>
                                         </ul>
                                     </li>
                                     <li>
                                         Weight gain <ul>
                                             <li><a href="https://www.reddit.com/r/gainit/">r/Gainit</a></li>
                                         </ul>
                                     </li>
                                     <li>
                                         Fitness <ul>
                                             <li><a href="https://www.reddit.com/r/Fitness/">r/Fitness</a></li>
                                             <li><a href="https://www.reddit.com/r/C25K/">r/C25k</a></li>
                                             <li><a href="https://www.reddit.com/r/running/">r/running</a></li>
                                             <li><a href="https://www.reddit.com/r/weightlifting/">r/WeightLifting</a></li>
                                         </ul>
                                     </li>

                                 </ul>
                             </div>