@using TDEECalc.ViewModels

@model AddLoserViewModel


<h1>Enter your information</h1>
<div >
    <form method="post" asp-controller="Home" asp-action="Index">
        <div>
            <label asp-for="Age">Age</label>
            <input asp-for="Age" type="text" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Sex">Sex</label>
            <select asp-for="Sex" asp-items="Model.SexTypes"></select>
        </div>
        <div class="form-group">
            <label asp-for="Height">Height</label>
            <input asp-for="Height" value="" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="StartingWeight">Starting Weight</label>
            <input asp-for="StartingWeight" value="" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="CurrentWeight">Current Weight</label>
            <input asp-for="CurrentWeight" value="" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="TargetWeight">Target Weight</label>
            <input asp-for="TargetWeight" value="" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="ActivityLevel">Activity Level</label>
            <select asp-for="ActivityLevel" asp-items="Model.ActivityTypes"></select>
        </div>

        <input type="submit" value="Submit" />
        <input type="reset" value="Start Over" />
    </form>
</div>



<div>
    <table>
        @if (Model.TDEE > 6)
        {
           
            <tr><td>TDEE: </td><td>@Model.TDEE</td></tr>
            <tr><td>BMI: </td><td>@Model.CurrentBMI</td></tr>
            <tr><td><input  value="@Model.CurrentWeight"/></td></tr>
            <tr><td><input type="reset" value="Reset" /></td></tr>
        }
    </table>
</div>


